ul.list-group:after {
    clear: both;
    display: block;
    content: "";
}

.current-tag {
    float: left;
}

.so-title {
    font-size: 20px;
}

#related {
    margin-top: 50px;
}

.even-more-content {
    margin-left: 10px;
}
