<html>
    <head> <title>CSCI 5609 Final Project</title>

        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- d3 -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    Stack Overflow Tag Visualization
                </h1>
                You can visualize StackOverflow tags using this nifty tool.
            </div>
        </div>
    {{data}}
    </body>
<script>

// add a d3 graph to the body of the webpage.
// The graph should show tags vs time for any tag I choose.
// It should also show results for groups of tags.

const MARGIN = {
  top: 100,
  right: 50,
  bottom: 50,
  left: 150
};
const width = 850 - MARGIN.left - MARGIN.right;
const height = 350 - MARGIN.top - MARGIN.bottom;

const chart = d3.select("body")
      .append("div")
      .append("svg")
      .attr("width", width + MARGIN.left + MARGIN.right)
      .attr("height", height + MARGIN.top + MARGIN.bottom);

// Add another graphic onto same svg. must be called after createChart()
function addLayer(){
  chart.append("g")
  .attr("transform", `translate(${MARGIN.left},${MARGIN.top}`);
  return chart;
}

function drawBarGraph(data){
  // set the dimension for the graph
  addLayer();
  const Y_COL = 1;

  const xScale = d3.scaleLinear()
    .range([MARGIN.left, width - MARGIN.right])
    .domain([
      d3.min(data, d => d[0]),
      d3.max(data, d => d[0])
    ]);

  const yScale = d3.scaleLinear()
    .range([height - MARGIN.top, MARGIN.bottom])
    .domain([0, d3.max(data,d => d[Y_COL])]);

  const xAxis = d3.axisBottom().scale(xScale);
  const yAxis = d3.axisLeft().scale(yScale);

  // for each datum, define a bar and add it to the SVG element 
  chart.selectAll(".bar")
  .data(data)
  .enter()
  .append("rect")
      .attr("x", d => xScale(d[0]) + 0.5)
      .attr("y", d => yScale(d[Y_COL]))
      .attr("width", width / data.length - 0.5 * 2)
      .attr("height", d => height - yScale(d[Y_COL]))
      .attr("fill", "blue")
      .attr("data-legend", () => "Population")
      .classed("bar", true);

  // add the X Axis 
  chart.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .append("text")
      .attr("y", MARGIN.bottom / 2)
      .attr("x", width / 2)
      .attr("dy", ".71em")
      .style("text-anchor", "middle")
      .text("Year");

  // add the Y Axis
  chart.append("g")
    .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("x", - height/2)
      .attr("y", - MARGIN.left * .97)
      .attr("dy", ".71em")
      .style("text-anchor", "middle")
      .text("Population");
}

function drawGraph(data){
    addLayer().append("text")
        .attr("x", (width / 2))
        .attr("y", (MARGIN.top / 2))
        .attr("text-anchor", "middle")
        .style("font-size", "20px")
        .text("JavaScript queries over time.");

    drawBarGraph(data);
}

$.getJSON('data', drawGraph);  
</script>
</html>
