<html>
    <head> <title>CSCI 5609 Final Project</title>

        <!-- bootstrap -->
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <!-- d3 -->
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="jumbotron">
                <h1>
                    Stack Overflow Tag Visualization
                </h1>
                You can visualize StackOverflow tags using this nifty tool.
            </div>
        </div>
    </body>
<script>

// add a d3 graph to the body of the webpage.
// The graph should show tags vs time for any tag I choose.
// It should also show results for groups of tags.

const MARGIN = {
  top: 100,
  right: 50,
  bottom: 60,
  left: 150
};
const width = 850 - MARGIN.left - MARGIN.right;
const height = 350 - MARGIN.top - MARGIN.bottom;

const chart = d3.select("body")
      .append("div")
      .append("svg")
      .attr("width", width + MARGIN.left + MARGIN.right)
      .attr("height", height + MARGIN.top + MARGIN.bottom);

// Add another graphic onto same svg. must be called after createChart()
function addLayer(){
  const layer =  chart.append("g")
    .attr("transform", `translate(${MARGIN.left},${MARGIN.top})`);
  return layer;
}

function drawBarGraph(data){
    const xScale = d3.scaleTime()
        .domain(
            [d3.min(data, d=>d[0]),
             d3.max(data, d=>d[0])])
        .range([0, width])
    const yScale = d3.scaleLinear()
        .domain(
            [ d3.min(data, d=>d[1]),
              d3.max(data, d=>d[1]) ])
        .range([0,height])

    addLayer().selectAll(".bar")
    .data(data)
    .enter()
    .append("rect")
    .attr("x", d => xScale(d[0]))
    .attr("y", (d => height - yScale(d[1])))
    .attr("height", (d => yScale(d[1])))
    .attr("width", width / data.length - 0.5 * 2)
    .attr("fill", "blue")
}

function drawGraph(data){
    addLayer().append("text")
        .attr("x", width / 2)
        .attr("y", 0)
        .attr("text-anchor", "middle")
        .style("font-size", "20px")
        .text("JavaScript Queries over Time");
    drawBarGraph(data);
}

$.getJSON('data', (data) => {
    console.log(data);
    // convert strings to dates
    const data_with_dates = data.results.map( (d) => [  new Date(d[0]), d[1] ] )
    drawGraph(data_with_dates);
});
</script>
</html>
